/***********************************ACUBE LUXOR PORTAL DEFAULT CSS 1.0**********************************
* CAUTION : DO NOT attach/modify/delete those CSS Classes below
* Admin page classes and general portal component classes are included
* 개발자용 CSS (배포 최적화 버전은 12월 제공)
* authorized by ACUBE GROUP 2010.08.01
********************************************************************************************************/

/*
*
* luxor layout namespace
* 해당 네임스페이스는  layout을 할당하는 CSS입니다.
* 배포시에는 tlxr_page_layout DB table 에 동적으로 관리되는 css class name이므로
* 디자인 시에만 사용하시고 개발에 배포시 반드시 주석처리
*
*/

/*
*
* .luxor-page-wrap {overflow:auto;}
* .luxor-main {position:relative; margin-left:auto; margin-right:auto;  width:1000px;}
* .luxor-top {clear:both;}
* .luxor-body {margin:0 0 0px 0; width:1000px;height:auto !important; height:100%;min-height:100%;}
* .luxor-left {position:relative; float:left; padding-top:0px; padding-bottom:7px; width:180px;}
* .luxor-content {position:relative; float:left; padding-top:0px; padding-bottom:7px; width:590px; margin-left:15px; margin-right:15px;}
* .luxor-right {position:relative; float:left; padding-top:0px; padding-bottom:7px;}
* .luxor-footer {float:left; text-align:left; width:100%;}
*
*/


/***************************************general class start*****************************************/

.luxor-inner-body {margin: 0; padding: 0;}
.luxor-page-wrap {height:100%;width:100%;overflow:auto;}
/* General TAGS */
body {font-family:Dotum,verdana,Arial,Helvetica,geneva,sans-serif,SimSun; font-size:12px;position: relative;}
body, div, td, th {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {margin:0;}
img {border-width:0; vertical-align:middle}
p, form ,span {margin:0; padding:0;}
b {font-weight:bold}
table {border-collapse:collapse;}
th, td {border-collapse:collapse; padding:2px;}
ol, ul, li, dl, dt, dd {list-style:none; margin:0; padding:0;}
hr {display:none; clear:both; }
legend, caption { display:none; clear:both;font-weight:bold; font-size: 70%; font-family:Dotum,Verdana, sans-serif; }
a {text-decoration:none;}
textarea {border:1px solid #c4c4c4;vertical-align:top;padding: 2px 0px 0px 3px ;font:12px/160% Dotum,Verdana; color:#696969;}
form    { display:inline; } /* Form tags start*/
label.none  { display:none; }
input, textarea { color:#696969;font-size:12px;font-family: Dotum, Verdana, sans-serif; vertical-align:middle;}
select{font-family:Dotum, Verdana; font-size: 12px; color:#6c6c6c; border:1px solid #c8c6bb;vertical-align:middle; }
button { font-size:90%;font-family: Dotum,Verdana, sans-serif;}
fieldset, blockquote, iframe { border:none; } /* Form tags end*/

/* General Classes */
.border {border:1px solid #d8d8d8;}
.margin {margin:5px;}
.padding {padding:5px;}
.bold{font-weight:bold;}
.clear {clear:both;}
.link {cursor:pointer;}
.hidden {display:none;}
.dialog {position:absolute;left:0;top:0;background:#FFFFFF;z-index:10000; display:none;}
.hover {background:#F5F5F5;}
.list-box {border:1px solid #828282;padding:5px;}
.move {cursor:move;}
.loading {display:none;text-align:center;margin:0 auto;z-index:100;}
.loading-red {display:none;left:0;top:0;padding:3px;position:absolute;background-color:#990000;color:white;font-weight:bold;font-family:tahoma,verdana;}
.cur-hand   { cursor:pointer; }
#alphabg {display:none;position:absolute;width:100%;height:100%;background:#000000;left:0;top:0;z-index:5;filter:alpha(opacity=40);opacity:0.4;MozOpacity:0.4;KhtmlOpacity:0.4;}
.btn-center {text-align:center; padding-top:2px;}
.text-left {text-align:left; }
.text-center {text-align:center; }
.text-right {text-align:right; }
.inactive {color:#828282;}
.red {color:red;}

/* SIZE CLASS */
.h10   {height:10px;}
.h15   {height:15px;}
.h20   {height:20px;}
.h25   {height:25px;}
.h80   {height:80px;}
.h140  {height:140px;}
.w120  {width:120px;}
.h150  {height:150px;}
.h160  {height:160px;}
.h180  {height:180px;}
.h200  {height:200px;}
.h400  {height:400px;}
.h600  {height:600px;}
.h390  {height:390px;}

.w30  {width:30px;}
.w60  {width:60px;}
.w70  {width:70px;}
.w80  {width:80px;}
.w100 {width:100px;}
.w120 {width:120px;}
.w135 {width:135px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w160 {width:160px;}
.w170 {width:170px;}
.w180 {width:180px;}
.w185 {width:185px;}
.w200 {width:200px;}
.w230 {width:230px;}
.w250 {width:250px;}
.w300 {width:300px;}
.w320 {width:320px;}
.w330 {width:330px;}
.w360 {width:360px;}
.w400 {width:400px;}
.w415 {width:415px;}
.w440 {width:440px;}
.w480 {width:480px;}
.w580 {width:580px;}
.w590 {width:590px;}
.w630 {width:630px;}
.w680 {width:680px;}
.w700 {width:700px;}
.w805 {width:805px;}
.w830 {width:830px;}
.w1000 {width:1000px;}
.w1200 {width:1200px;}
.w90percent {width:90%;}
.w95percent {width:95%;}
.w98percent {width:98%;}
.w99percent {width:99%;}
.w100percent {width:100%;}
.h90percent {height:90%;}
.h95percent {height:95%;}
.h98percent {height:98%;}
.h99percent {height:99%;}
.h100percent {height:100%;}

.mb3{margin-bottom:3px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.ml5 { margin-left:5px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.ml10 { margin-left:10px;}
.mr15 { margin-right:15px;}
.ml15 { margin-left:15px;}
.mt10 { margin-top:10px;}
.mb10 { margin-bottom:10px;}

.float-l {float: left;}
.float-r {float: right;}
.aright {float:right; margin-bottom:3px; margin-right:7px}
.aleft {float:left; margin-bottom:3px;}
.acenter {float:center; margin-bottom:3px;}

/****************************************general class end******************************************/

/***************************************content class start*****************************************/

/* 컨텐츠 클래스 [admin의 고정적인 content 사용 및 초기 content 디자인 세팅에 사용 */
/* 주의! content namespace가 부여된 class는 script에서 동적으로 디자인이 관리되므로 삭제 불가! */
.luxor-main{overflow: hidden;}

.content-wrap {}
.content-wrap-hide {}
.content-wrap .content-body {}
.content-wrap-hide {} .content-body {}
.content-top {}
.content-title-bar {white-space: nowrap; width:5px;}
.content-menu-bar {}
.content-menu-list {}
.content-menu-list li {display:inline;!margin-left:5px;}

/* theme_content_box */
.content-wrap .round-top {}
.content-wrap .round-right {}
.content-wrap .round-bottom {}
.content-wrap .round-left {}
.content-wrap .round-top-left {}
.content-wrap .round-top-right {}
.content-wrap .round-bottom-left {}
.content-wrap .round-bottom-right {}
.content-wrap .portlet-wrap {}

/* portlet option menu btn */
.menu-btn-max {}
.menu-btn-min {}
.menu-btn-normal {}
.menu-btn-help {}
.menu-btn-edit {}
.menu-btn-go {}
.menu-btn-reload {}
.menu-btn-setup {}
.menu-btn-delete {}

/****************************************content class end******************************************/

/**************************************** custom build component class *****************************/


/* General pagenate style*/
.paging-wrap {padding-top:6px;text-align:center;height:27px;background-color:#f2f7fe;background:url('/ep/luxor/ref/image/admin/paging_bg.gif') top left; width:97%; margin:0 auto}
.paging a img { border:none; vertical-align:middle; _vertical-align:top;padding-bottom:2px; }
.paging a,
.paging strong { position:relative; display:inline-block; vertical-align:middle; padding:1px 3px 3px 3px; color:#777777; text-decoration:none; line-height:normal; font-size:90% ; background:url('/ep/luxor/ref/image/admin/line_pg.gif') no-repeat 40% left; font-weight:bold;}
.paging a:hover { color:#f23219;text-decoration:underline;}
.paging strong { color:#f23219 !important; font-weight:bold;}
.paging-right-side {padding-right:10px;float:right;text-align:right; font:bold 11px Dotum,Verdana; color:#666666; width:130px; padding-top:2px;}
.paging-left-side {padding-left:10px;float:left; text-align:left; font:11px Dotum,Verdana; color:#666666;width:150px;}
.paging-search {height: 12px ;border: 1px solid #bbbbbb ;color: #696969;text-decoration: none; }

.first-page-btn { width:16px; height:11px; border:0;}
.pre-page-btn {width:16px; height:11px; border:0;}
.next-page-btn {width:16px; height:11px; border:0;}
.end-page-btn { width:16px; height:11px; border:0;}

/*** table ***/
/* basic : 개인화 페이지 (포틀릿 추가) 등에 사용하는 class theme설정시 값이 필요*/
/* admin에서 사용하고 기본적으로 제공하는 portlet의 table 구성에도 쓰임*/
.table-body-wrap {width:100%;overflow:hidden;}
.table-body {width:97%; color:#393939;;margin-bottom:1px; margin:0 auto; }
.table-body th {background:url(/ep/luxor/ref/image/admin/table_tdbg.gif) ; border:1px solid #c3d2e8;font-size:12px ;color:#4a6592; text-align:center;font-weight:bold; height:21px; line-height:21px;}
.table-body td {padding-top:2px; border:1px solid #c3d2e8;font-size:12px ; text-align:center;height:20px; line-height:20px;}
.table-body th.input,.table-body td.input {padding-top:1px; padding-bottom:1px;height:20px;}
.table-body td.body-left {padding-top:2px; text-align:left; padding-left:5px; height:20px; }
.table-body td.body-right {text-align:right; padding-right:5px; height:20px;}
.table-body span.text-blue { color:#4a6592;font:bold 12px Dotum,Verdana;}
.table-body a {color:#393939; text-decoration:none;}
.table-body a:hover {color:#083e7b; text-decoration:none;}


/* 임직원검색 테이블스타일 변경 추가 _ 151230 */
.table-body02 {border-top:1px solid #b3cbdd; border-bottom:1px solid #b3cbdd; overflow-y:auto;clear:both;width:97%; margin:0 auto}
.table-body02 th{background:url(/ep/luxor/ref/img/bg_thbar02.gif) no-repeat left top #ebf2f9; text-align:center; color:#666; font-size:12px; height:30px; line-height:30px; font-weight:100; text-decoration:none}
.table-body02 th:first-child {background:url(/ep/luxor/ref/img/bg_thbar_first.gif) repeat-x left top #ebf2f9; text-align:center; color:#666; font-size:12px; height:30px; line-height:30px; font-weight:100; text-decoration:none}
.table-body02 td{border-bottom:1px solid #e4e4e4; height:27px; line-height: 27px; padding-left:3px;text-align:center; color:#666666}
.table-body02 th.input,.table_body td.input{height:20px;padding-top:1px;padding-bottom:1px}
.table-body02 td.body_left{border-bottom:1px solid #e4e4e4; height:27px; line-height: 27px; padding-left:3px; text-align:left}
.table-body02 td.body_right{border-bottom:1px solid #e4e4e4;  height:27px; line-height: 27px;text-align:right}
.table-body02 span.text_blue{font:bold 12px Dotum,Verdana;color:#4a6592}
.table-body02 div.icon_file{width:44px;margin:0 auto}
.table-body02 a{color:#666666;text-decoration:none}
.table-body02 a:hover{color:#808080;text-decoration: underline}
.table-body02 tr:hover, .tablelist tr:hover{}
.table-body02 em{font:bold 11px dotum;color:#ff6000}
.table-body02 td.time{height:20px;padding-left:0;padding-right:3px;border-right:1px dotted #a6a6a6;background-color:#f3f3f3;font:11px Dotum,Verdana;line-height:20px;color:#8d8d8d;text-align:right}
.table-body02 th.right_line01{border-right:1px solid #cbd4e4 !important}
.table-body02 td.right_line02{border-right:1px solid #efefef}


/* error page style */
.table-error {color:#393939; margin:0px; padding:50px; width: 630px;}
.error-title {margin:0px; color:#393939; font:13px Gulim,Dotum,Verdana; font-weight:bold; background:url(/ep/luxor/ref/image/blue_theme/img_error.png) left no-repeat ; padding:10px 0px 10px 55px;}
.error-text  {padding:20px; margin:18px 0px; border:1px solid #e6e6e6; font:12px Dotum,Verdana; color:#696969; line-height:18px; background-color:#f6f6f6}

/* jQuery Layer Popup Title*/
.ui-widget-header {}

/* General Input Form style */
.input-d {height: 15px ;border: 1px solid #d8d8d8 ;color: #696969;text-decoration: none; }
.input-readonly {height: 15px ;border: 1px solid #d8d8d8 ;color: #696969;background-color:#f1f1f1;text-decoration: none; }
.textarea-d {border: 1px solid #d8d8d8 ;color: #696969; }

/* General sub title style */
/* .title-sub {margin-top:17px; padding:5px 0px 0px 24px; height:25px; background:url(/ep/luxor/ref/image/admin/main_title01.gif) no-repeat 0px 1px; }
.title-sub span.title-sub-text {float:left; font:bold 14px Dotum,Verdana;color:#000000; } */

/* 타이틀 추가 수정 _ 151230 */
.title-sub {height:34px; line-height:34px;padding-bottom:15px; background:url(/ep/luxor/ref/img/bg_pop_h2.gif) repeat-x }
.title-sub span.title-sub-text {height:34px;margin-right:20px;padding-top:8px;font:bold 14px Dotum,Verdana;color:#fff; margin-left:20px;}
.popup-wrap .tb-write { padding:0 10px}



/* General attach text style */
.attach-text {font:12px Dotum,Verdana; color:#666666; line-height:1px; display: inline;}
.attach-text a {color:#3c6096; text-decoration:none;}
.attach-text a:hover {font:bold 12px bold; color:#0030ff; text-decoration:none;}

/* home tracking style */
.subhome {float:right; padding-top:3px; font:11px Dotum,Verdana; color:#a4a4a4;}
.subhome a{ text-decoration:none;color:#a4a4a4;}
.subhome a:hover{color:#5d7394;}
.subhome-icon {float:left; padding-top:3px; background: url("/ep/luxor/ref/image/admin/icon_home.gif") repeat-x 0px -1px; width:15px; height:15px;}

/* General Authorizing page style */
.please-login {  background: url("/ep/luxor/ref/image/default_theme/icon_login.gif") no-repeat center left;  padding-left:45px; margin-top:10px;}
.please-login-blue { font: 12px Dotum,Verdana; line-height:20px; color:#3c6096; }
.please-login-gray { font:bold 14px Dotum,Verdana; line-height:20px; color:#393939;}
.author-message-center {margin: auto; position: relative; top: 40%;}
.author-fail-body {height: 100%; width: 100%; overflow: hidden;}

/***********************************************************************************************/
/*******************************admin style classes start***************************************/

/* admin page wraper 동적 페이지 사이즈 설정시 최소단위가 없으면 페이지 내부가 깨지는 것을 방지*/
.admin-wrap {min-width: 1250px;}
.admin-body-wrap {overflow:auto;}
.admin-menu-bar {/*min-width: 1200px;*/height:32px;}

/* admin content 창*/
.admin-content-width {position:relative; float:left; padding-top:0px; padding-bottom:7px; }
.admin-content-pop {position:relative; float:left; padding-top:0px; padding-bottom:7px; width:580px; margin:0px;}

/* admin top menu 구성 style */
.admin-menu-box {width:100%;float:left;background:url(/ep/luxor/ref/image/admin/bg_menu.gif) repeat-x left top;overflow:hidden;}
.admin-menu {clear:both;}
.admin-menu ul { margin-top:5px;padding-bottom:7px;}
.admin-menu li { float:left;margin-right:5px;padding-left:5px; }
.admin-menu a {font:bold 13px; color:#eaeef4; text-decoration: none; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:10px;}
.admin-menu a:hover {font:bold 13px ;color:#bfeeff; text-decoration: none; }
.admin-menu-padding { padding-top:8px;padding-bottom:10px; }
.admin-top-menu-over        {display:inline; float:left; background:url(/ep/luxor/ref/image/admin/admin_topmenu_left.gif) no-repeat top left; margin-top:3px; padding-top:4px; cursor:hand;}
.admin-top-menu-over a      {font:bold 13px Dotum,Verdana; color:#ffffff; text-decoration: none; background:url(/ep/luxor/ref/image/admin/admin_topmenu_right.gif) no-repeat top right;cursor:hand;padding:5px 18px 8px 15px; }
.admin-top-menu-over a:hover {font:bold 13px Dotum,Verdana;color:#ffffff; text-decoration: none;}
.admin-sub-menu {float:left; display:block; border:2px solid #acbdd9;   border-top:none;}
.admin-sub-menu-inner {position:relative;  background:#fff; float:left; display:block;  border:1px solid #335c9b;   border-top:none;    padding:5px;    background:url(/ep/luxor/ref/image/admin/bg_sub_menu.gif) repeat-x 0 0;}
.admin-sub-menu-inner ul {margin:0;padding:0; }
.admin-sub-menu-inner ul li {   margin-top:5px;height:18px;}
.admin-sub-menu .sub-first {float:leftdisplay:block; margin-right:20px;margin-left:7px;}
.admin-sub-menu .sub-first li {color:#333;font-weight:bold;height:18px;}
.admin-sub-menu .sub-first a:link, .sub-menu .sub-first  a:active, .sub-menu .sub-first  a:visited {display:block;color:#333;font-weight:normal;padding-left:13px; text-decoration:none; }
.admin-sub-menu .sub-first a:hover {color:#0b2247;width:100%; background:#c5ddef;}

.admin-logout-right { padding-top:8px; float:right;}
.admin-logout { clear:both;}
.admin-logout a {font: 13px ;color:#ffffff; text-decoration: none; font-weight:bold; padding-left:5px; padding-right:10px; margin-top:10px;}
.admin-logout a:hover {font: 13px ;color:#ffffff; text-decoration: underline; }
.admin-icon-logout { clear:both; background:url(/ep/luxor/ref/image/admin/icon_logout.gif) no-repeat 0 -1px;}
.admin-icon-logout a {font: 13px ;color:#ffffff; text-decoration: none; font-weight:bold; padding-left:15px; padding-right:5px; margin-top:10px;}
.admin-icon-logout a:hover {font: 13px ;color:#ffffff; text-decoration: underline; }
.admin-bg-img {height:23px;background:url(/ep/luxor/ref/image/admin/menu_line.gif) no-repeat 0 8px; vertical-align:middle; text-align:center; margin-left:3px;}

/* 포탈 빌더 / 개인화 / 권한 tree */
.tree-wrap {position:relative; float:left; width:200px;margin-left:0;}
.tree-wrap a.search { font-weight:bold; color:red !important; }
.resize-bar {position:absolute;top:5px;left:198px;width:5px;height:80%;border:1px #D4D0C8 solid;background:url(/ep/luxor/ref/image/admin/bar_line.gif) #F3F3F3 no-repeat 50% 50%;cursor:e-resize;}
.admin-user-list-wrap {height:280px;overflow:auto;}
.admin-org-tree {height:510px;overflow:auto;};

/* IAM부분 Tree */
.admin-tree-pop-wrap {float:left; width:250px; height:570px; overflow:auto; background:url(/ep/luxor/ref/image/admin/pop_left_bg.gif) repeat;}
.tree-pop-wrap {position:relative; float:left; width:250px; height:100%; background:url(/ep/luxor/ref/image/admin/pop_left_bg.gif) repeat; margin-left:0; overflow:auto;}
.tree-search { padding:0px 0px 0px 7px;}

/* IAM부분 타이틀*/
/*.title-pop {padding:2px 0 3px 0; height:35px; width:100%;}
.title-pop span.title-pop-text {float:left; font:bold 14px Dotum,Verdana; line-height:14px; color:#000000; background:url(/ep/luxor/ref/image/admin/pop_title.gif) no-repeat 0 center; padding:10px 0 9px 17px;} */
.title02 {padding:2 0 3px 0; height:35px; width:100%;}
.title02 span.title-sub-text {float:left; font:bold 14px dotum; line-height:14px; color:#000000; background:url(/ep/luxor/ref/image/admin/title03.gif) no-repeat 0 center; padding:10px 0 9px 17px;}
/* IAM부분 타이틀 수정 _ 151230 */
.title-pop {height:34px; line-height:34px;padding-bottom:15px; background:url(/ep/luxor/ref/img/bg_pop_h2.gif) repeat-x }
.title-pop span.title-pop-text {height:34px;margin-right:20px;padding-top:8px;font:bold 14px Dotum,Verdana;color:#fff; margin-left:20px;}


/* page Manager theme/layout iframe 부분*/
.admin-layout-theme-search {padding:6px;border:1px solid #bac7d8;background-color:#f0f4f7; margin-bottom:12px;}

/* page manager 홈- 미리보기 */
.admin-title-side-text {float:left; font:bold 14px dotum; line-height:14px; color:#4962a8; background:url(/ep/luxor/ref/image/admin/title01_bullet.gif) no-repeat -2px -10px; padding:0px 0 5px 18px; }
.admin-title-side-text a {color:#4962a8; text-decoration:none;}
.admin-title-side-text a:hover {color:#0030ff; text-decoration:none;}

/* admin-button group */
.admin-page-button-group {float:right;margin-bottom:5px; padding:9px 0px 0px 0px;}
.admin-center-bottom-button-group {clear:both; padding-top:10px; width:100%; text-align: center;}
.admin-right-bottom-btn-group {float:right;padding-top:5px; padding-left:9px;}
.admin-tree-padding {padding:5px 5px 5px 7px;}
.admin-tree-btn-group {padding:5px 5px 5px 7px;}

/* admin-button 좌측 상단 버튼*/
/* .main-btn * {display:inline-block; cursor:pointer; _cursor:hand; }
.main-btn {background:url(/ep/luxor/ref/image/admin/mainbtn_bg.gif) no-repeat left top; height:26px; line-height:26px;padding-left:8px;display:inline-block; }
.main-btn a {display:inline-block; white-space:nowrap; background:url(/ep/luxor/ref/image/admin/mainbtn_bg.gif) no-repeat right top; padding-right:8px; color:#ffffff; font:normal 12px/19px Dotum,Verdana; text-decoration:none; font-weight:bold;padding-top:1px;}
.main-btn a:hover {color:#4E6C97; text-decoration:none;} */

/* admin-button 좌측 상단 버튼 수정 _ 160104*/
.main-btn *{display:inline-block;cursor:pointer}
.main-btn{display:inline-block;height:26px;padding-left:10px;background:url(/ep/luxor/ref/image/admin/mainbtn_bg.gif) no-repeat left top;line-height:26px; font-size:12px; cursor:pointer}
.main-btn a{display:inline-block;padding-right:10px;padding-top:1px;background:url(/ep/luxor/ref/image/admin/mainbtn_bg.gif) no-repeat right top; height:26px; line-height:26px; font-size:12px; color:#fff;text-decoration:none;white-space:nowrap; font-weight:bold}
.main-btn a:hover{text-decoration:none;color:#102a45;  font-weight:bold}
.main-btn .search {background:url(/ep/luxor/ref/image/admin/main_i_search.gif) no-repeat left top; width:16px; height:16px; vertical-align:middle;}

/* 팝업 버튼 수정 S */
#userinfo_form .main-btn,
.main-btn#div_btn_add_ok {height:20px;line-height:20px;background:url(/ep/luxor/ref/image/admin/popbtn_bg.gif) no-repeat left top;}
#userinfo_form .main-btn a,
.main-btn#div_btn_add_ok a{background:url(/ep/luxor/ref/image/admin/popbtn_bg.gif) no-repeat right top; height:20px; line-height:20px;color:#393939;}
#userinfo_form .main-btn a:hover,
.main-btn#div_btn_add_ok a:hover{color:#000;}
/* 팝업 버튼 수정 E */



/* admin-button Table 우측 버튼*/
.smain-btn * {display:inline-block; cursor:pointer; _cursor:hand; }
.smain-btn {background:url(/ep/luxor/ref/image/admin/sbtn_bg.gif) no-repeat left top; height:19px; line-height:19px;padding-left:8px;display:inline-block; }
.smain-btn a {display:inline-block; white-space:nowrap; background:url(/ep/luxor/ref/image/admin/sbtn_bg.gif) no-repeat right top; padding-right:8px; color:#393939; font:normal 12px/19px Dotum,Verdana; text-decoration:none; padding-top:1px;font-size:90%; font-weight:bold;}
.smain-btn a:hover {color:#000000; text-decoration:none;}

/* admin-text setting */
.text-red {float:left; font:bold 14px Dotum,Verdana; line-height:14px; color:#000000; padding:10px 0 9px 5px; color:#FF0000}
.text-black {float:left; font:bold 14px Dotum,Verdana; line-height:14px; color:#000000; padding:10px 0 9px 5px;}

/* admin Button */
.admin-org-btn-action {overflow:hidden;height:22px;width:40px;margin-left:2px;line-height:22px;background:url('/ep/luxor/ref/image/admin/btn_bg02.gif') top left;border:0;font-size:90%;}
.admin-org-btn-action-over {overflow:hidden;height:22px;width:40px;margin-left:2px;line-height:22px;background:url('/ep/luxor/ref/image/admin/btn_bg02.gif') 0px -22px;border:0;font-size:90%;}
.admin-layout-theme-btn-action {overflow:hidden;height:22px;width:150px;margin-left:2px;line-height:22px;background:url('/ep/luxor/ref/image/admin/btn_bg10.gif') top left;border:0;font-size:90%;}
.admin-layout-theme-btn-action-over {overflow:hidden;height:22px;width:150px;margin-left:2px;line-height:22px;background:url('/ep/luxor/ref/admin/image/btn_bg10.gif') 0px -22px;border:0;font-size:90%;}
.admin-pop-button {float:right;margin-bottom:5px; padding:9px 0px 0px 0px;}

/* admin sub-title */
.admin-sub-title {padding-left:15px; margin-bottom:7px; background:url('/ep/luxor/ref/image/admin/title02.gif') no-repeat left 1px; font-size:12px; color:#000000; cursor:pointer; font-weight:bold;}

/* admin tree textfield */
.input-txtfield {height: 16px ; padding: 2px 0px 0px 3px ;border: 1px solid #c4c4c4 ;color: #696969;text-decoration: none;}
.input-txtfield01 {height: 15px ;padding: 1px 0px 0px 3px ;border: 1px solid #c4c4c4 ;color: #696969;text-decoration: none;}

/* admin 통계 및 org에서 쓰이는 search form */
.table-search {border-top:0px solid #ffffff;width:97%; margin:0 auto 12px auto; }
.table-search th {background-color:#f5f5f5;border:1px solid #d8d8d8;font:normal 12px ;color:#666666; text-align:center; font-weight:bold; line-height:20px;}
.table-search .wleft {background-color:#f5f5f5;border:1px solid #d8d8d8;font:normal 12px ;color:#666666; text-align:left; font-weight:bold; line-height:20px;}
.table-search td { padding-left:5px; border:1px solid #d8d8d8;font:12px; text-align:left; line-height:20px;}

/* admin org list link */
.tblink a {color:#0030ff; text-decoration:line;}
.tblink a:hover {color:#227900; text-decoration:none;}

/* admin layer popup wrap */
.tb-write {width:99%; float:left; margin:0 auto}

/* admin default table style */
/* .table-write {border-top:2px solid #8dbad8;width:100%; color:#393939; margin-bottom:5px; }
.table-write th { padding:0px 0px 0px 0px;background-color:#f4f8ff;border:1px solid #dde8e5;font-size:12px ;color:#4a8bae; text-align:center; font-weight:bold; height:26px;}
.table-write td { padding:0px 5px 0px 5px; border:1px solid #dde8e5;font-size:12px; text-align:left; height:24px;}
.table-write th.input,.table-write td.input {}
.table-write .bodyview { padding:15px; line-height:20px; }
.table-write a {text-decoration:none;}
.table-write a:hover {color:#083e7b; text-decoration:none;}
.table-write td.tit02 {padding:4px 0px;background-color:#f9fcff;border:1px solid #dde8e5;  text-align:center; color:#77848b;} */

/* admin default table style  수정 _ 151230 */
.table-write {background:#fff; border-left:1px solid #cfcfcf;border-top:2px solid #939393;margin-bottom:20px; margin-top:0px; width:100%;}
.table-write th{text-align:center; border-bottom:1px solid #cfcfcf; border-right:1px solid #cfcfcf; color:#5c6983;margin-bottom:10px; background:#eef1f5; height:24px; line-height:24px; font-size:12px; font-weight:bold;}
.table-write td {text-align:left; padding:3px 7px; border-right:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf;}
.table-write th.input,.table_write td.input{}
.table-write .bodyview{padding:10px;line-height:20px}
.table-write td div.email{padding-top:2px}
.table-write a{text-decoration:none}
.table-write a:hover{color:#083e7b;text-decoration:none}
.table-write td.tit02{padding:4px 0;border:1px solid #cfcfcf;background-color:#eef1f5;color:#5c6983;text-align:center}



/* admin org 부분 box형 content style(layer popup) */
.box-body {overflow:hidden;}
.box-border {border:1px solid #d5dbeb; width:95%; margin-top:5px; padding:5px 0px 5px 5px; overflow:hidden;}
.box-border-small {border:1px solid #d5d5d5; margin-top:5px; margin-right:5px; padding:5px 5px 5px 5px;overflow:auto;}
.box-border-small02 {border:1px solid #ffffff; margin-top:5px; width:324px;height:155px; overflow-y:auto;}
.box-btn {width:100%;  padding-top:200px; vertical-align:middle; height:100%}
.box-font-blue { float:left; width:100%; color:#666666; font:11px Dotum}

/* admin login 화면 */
.login-admin {color:#393939; margin:0px; padding:50px;}
.admin-login-title {margin:0px; color:#393939; font:13px Gulim,Dotum,Verdana; line-height:25px; font-weight:bold; height:50px;background:url(/ep/luxor/ref/image/admin/img_loginadmin.gif) top left no-repeat ; padding:0px 0px 15px 0px;}
.admin-login-text  {color:#797979; font:11px Dotum,Verdana; border-top:solid 1px #8dbad8; padding-top:15px;}
.admin-inner-login-box {padding:30px 50px; margin:auto;border-top:1px solid #8dbad8;}
.admin-id-save { font:11px Dotum,Verdana; color:#666666}
.admin-login-main {padding:2px 2px 10px 2px; margin:0px; line-height:25px; text-align:left}
.admin-login-btn { background:url(/ep/luxor/ref/image/admin/btn_login.gif) no-repeat left top; height:21px; width:64px; border:none; color:0px; cursor:pointer;}
.admin-login-box {position:relative; top:25%; margin:0 auto; border:solid 1px #cccccc; background:url(/ep/luxor/ref/image/admin/bg_menu.gif) repeat-x left top;}
.admin-input-login {background:url(/ep/luxor/ref/image/admin/login_input_text.gif) no-repeat left bottom;height:18px ;border: 1px solid #d8d8d8 ;color: #696969;text-decoration: none; font:12px Dotum,Verdana; line-height:18px; padding-left:4px;}
.admin-input-pw-login {background:url(/ep/luxor/ref/image/admin/login_pw_input_text.gif) no-repeat left bottom;height:18px ;border: 1px solid #d8d8d8 ;color: #696969;text-decoration: none; font:12px Dotum,Verdana; line-height:18px; padding-left:4px;}

/* common login 화면 */
.login-common {color:#393939; margin:0px; padding:50px;}
.common-login-title {margin:0px; color:#393939; font:13px Gulim,Dotum,Verdana; line-height:25px; font-weight:bold; height:50px;background:url(/ep/luxor/ref/image/admin/img_loginuser.png) top left no-repeat ; padding:0px 0px 15px 0px;}
.common-login-text  {color:#797979; font:11px Dotum,Verdana; border-top:solid 1px #8dbad8; padding-top:15px;}
.common-inner-login-box {padding:30px 50px; margin:auto;border-top:1px solid #8dbad8;}
.common-id-save { font:11px Dotum,Verdana; color:#666666}
.common-login-main {padding:2px 2px 10px 2px; margin:0px; line-height:25px; text-align:left}
.common-login-btn { background:url(/ep/luxor/ref/image/admin/btn_login.gif) no-repeat left top; height:21px; width:64px; border:none; color:0px; cursor:pointer;}
.common-login-box {position:relative; top:25%; margin:0 auto; border:solid 1px #cccccc; background:url(/ep/luxor/ref/image/admin/bg_menu.gif) repeat-x left top;}
.common-input-login {background:url(/ep/luxor/ref/image/admin/login_input_text.gif) no-repeat left bottom;height:18px ;border: 1px solid #d8d8d8 ;color: #696969;text-decoration: none; font:12px Dotum,Verdana; line-height:18px; padding-left:4px;}
.common-input-pw-login {background:url(/ep/luxor/ref/image/admin/login_pw_input_text.gif) no-repeat left bottom;height:18px ;border: 1px solid #d8d8d8 ;color: #696969;text-decoration: none; font:12px Dotum,Verdana; line-height:18px; padding-left:4px;}


/* admin icon style */
.btnicon-02 {background:url(/ep/luxor/ref/image/admin/btnicon_02.gif) no-repeat 0 3px; width:14px; height:21px; border:0;}
.btnicon-03 {background:url(/ep/luxor/ref/image/admin/btnicon_03.gif) no-repeat 0 3px; width:14px; height:21px; border:0;}
.btnicon-04 {background:url(/ep/luxor/ref/image/admin/btnicon_04.gif) no-repeat 0 3px; width:14px; height:21px; border:0;}
.btnicon-05 {background:url(/ep/luxor/ref/image/admin/btnicon_05.gif) no-repeat 0 3px; width:14px; height:21px; border:0;}

/*admin 페이지 셀렉터*/
#portletList {border:1px solid #CCCCCC;}
#portletList li {border-bottom:1px dashed #828282;padding:3px 3px 3px 3px;margin-bottom:5px;cursor:pointer;}
.menu_selector_wrap {margin:3px;padding:3px;}
.menu_selector {margin:2px;padding:5px;}
.page-tree-wrap {overflow: hidden; white-space: nowrap;}
.selected-page-wrap {float:left;padding:10px;width:650px;overflow:auto;}
.sp_row {clear:both;padding-left:15px;padding-top:3px;}
.sp_row table {width:100%;border:1px solid #d8d8d8;}
.sp_row_text {text-indent:5px;}
.sp_row_conf {text-align:right;}
.sp_row_conf a.clicked {text-align:right;font-weight: bold; color:blue;}
.msButtonGroup {clear:both;}

/* admin dropdown style */
ul.admin-dropdown {z-index:1000;}
ul.admin-dropdown li {}
ul.admin-dropdown li.hover, ul.dropdown li:hover {color:black;position:relative;}
ul.admin-dropdown li.hover a {color:black;}
ul.admin-dropdown ul {background-color:#FCFCFC;border:1px solid #091e89;position:absolute;visibility:hidden;width:150px;}
ul.admin-dropdown ul li {}
ul.admin-dropdown ul li a {border-right:medium none;color:#666666;display:inline-block;width:100%;}
ul.admin-dropdown ul li a:hover {color:#000000;text-decoration:none;}
ul.admin-dropdown ul li a:active {color:#000000;text-decoration:none;}
ul.admin-dropdown ul ul {left:100%;top:0;}
ul.admin-dropdown li:hover > ul {visibility:visible;}


/*******************************admin style classes end***************************************/


/* 현재 Luxor 내에선 쓰지 않고 디자인 페이지에서만 할당한 classes, 추후 통합하여 폐기 또는 보관 예정 */
.icon-addfile { background: url("/ep/luxor/ref/image/blue_theme/board/icon_add.gif") no-repeat center; cursor:pointer; width:32px; height:18px;}
.popup-wrap {min-height:20px;margin:0px;}
.content-manager-theme-search {padding:6px;border:1px solid #bac7d8;background-color:#f0f4f7; width:400; margin-bottom:12px;}
.st2 {padding-left:15px; margin-bottom:2px; background:url('/ep/luxor/ref/image/admin/title03.gif') no-repeat left 1px; font-size:12px; color:#000000; }
.st3 {padding-left:10px; padding-top:1px; margin-bottom:2px; font-size:12px; color:#000000; cursor:pointer; height:30px;}
.table-list {border-top:2px solid #759fd4;width:100%; }
.titlink a{color:#5d7394; text-decoration:none; font-weight:bold;}
.titlink a:hover {color:#083e7b; text-decoration:none;}
.tb-search {float:left;width:100%; overflow:hidden;}
.tb-blog {float:left;width:100%; overflow:hidden; }
.filelink a {color:#ff6e00;font-text-decoration:underline;}
.filelink a:hover {color:#ff6e00; text-decoration:underline;weight:bold; }
.maintable {border:0px solid #ffffff; width:100%;}/* 포틀릿 */
.maintable td {border-bottom:1px solid #ebebe7; line-height:18px; }
.maintable-text01 a {color:#393939; text-decoration:none; font-weight:bold;background:url(/ep/luxor/ref/image/blue_theme/main_icon01.gif) no-repeat 0px 1px; padding-left:14px; }
.maintable-text01 a:hover {color:#5d7394; text-decoration:none;}
.maintable-text02 a {color:#696969; text-decoration:none; background:url(/ep/luxor/ref/image/blue_theme/main_icon02.gif) no-repeat 0px 5px; padding-left:14px; }
.maintable-text02 a:hover {color:#5d7394; text-decoration:none;}
.maintbox {border:0px solid #ffffff; width:100%;}
.pageright {font:bold 11px Dotum,Verdana; color:#666666; padding-right:10px;}
.logout a img { _vertical-align:top;}
.mt-t2 {float:left; font:bold 14px dotum; line-height:14px; color:#4962a8; background:url(/ep/luxor/ref/image/admin/title01_bullet.gif) no-repeat -2px -10px; padding:0px 0 5px 18px; }
.mt-t2 a {color:#4962a8; text-decoration:none;}
.mt-t2 a:hover {color:#0030ff; text-decoration:none;}
.admin-top-menu_over        {display:inline; float:left; background:url(/ep/luxor/ref/image/admin/admin_top_menu_over01.gif) no-repeat left top; margin-top:1px; padding-top:4px; border-top:1px solid #37517d; border-left:1px solid #37517d; border-right:1px solid #37517d; height:20px; line-height:18px; }
.admin-top-menu_over a {font:bold 13px Dotum,Verdana; color:#ffffff; text-decoration: none;  }
.admin-top-menu_over a:hover {font:bold 13px Dotum,Verdana;color:#ffffff; text-decoration: none;}
.textb {font-weight:bold}
.title-main {float:left; padding:4px 0 0px 2px; font:bold 12px Dotum,Verdana; line-height:14px; color:#5d7394; height:28px; width:100%}
.logout a img { _vertical-align:top;}
.bu-left {float:left;background: url("/ep/luxor/ref/image/blue_theme/leftMenuPortlet/bu_left.gif") no-repeat 2px 5px; width:12px; height:17px; }
.bu-left-minus {float:left;background: url("/ep/luxor/ref/image/blue_theme/leftMenuPortlet/bu_left_minus.gif") no-repeat 2px 5px; width:12px; height:17px; }
.bu-left-plus {float:left;background: url("/ep/luxor/ref/image/blue_theme/leftMenuPortlet/bu_left_plus.gif") no-repeat 2px 5px; width:12px; height:17px; }
.bu-blank {float:left;background: url("/ep/luxor/ref/image/blue_theme/leftMenuPortlet/blank.gif") no-repeat 2px 5px; width:7px; height:17px; }


/******* 권한맵 *******/
.page-acl-map {width:590px;float:left;border:1px solid #c3d2e8;}
.page-acl-map-title {background:url(/ep/luxor/ref/image/admin/table_tdbg.gif); font-size:12px ;color:#4a6592; text-align:center;font-weight:bold; height:21px; line-height:21px;}
.page-acl-resource {background-color:#ffffff;cursor:pointer;float:left;border:1px solid #828282;margin:5px;font-size:12px;}
.page-acl-resource-p {background-color:#ffffff;padding:3px 5px 3px 5px;}
.content-acl-map {width:590px;float:left;border:1px solid #c3d2e8;margin-left:16px;}
.acl-map-active { border:4px solid #828282; margin :2px;}

/** 메뉴검색 결과 링크 **/
.menu-search-result {padding:3px;}
.menu-search-result a {color:#000000; text-decoration:line;}
.menu-search-result a:hover {color:#000000; text-decoration:underline;}

/** 타겟설정된 zone **/
.targeted-zone-border {border:2px solid red; margin:-4px;}
.visibility-visible {visibility: visible;}
.visibility-hidden {visibility: hidden;}

/** 툴팁 **/
.luxor-tooltip{text-align: center;color: #111;background: #fff;position: absolute;z-index: 100;padding: 15px; border: 1px solid #8598b3;}
.tooltip:after /* triangle decoration */{width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #111;content: '';position: absolute;left: 50%;bottom: -10px;margin-left: -10px;}
.tooltip.top:after{border-top-color: transparent;border-bottom: 10px solid #111;top: -20px;bottom: auto;}
.tooltip.left:after{left: 10px;margin: 0;}
.tooltip.right:after{right: 10px;left: auto;margin: 0;}

.myMenuOn {background:url(/ep/luxor/ref/image/admin/icon_star2.gif) no-repeat 0 0px;  height:10px; border:0;  cursor:pointer;}
.myMenuOff {background:url(/ep/luxor/ref/image/admin/icon_star0.gif) no-repeat 0 0px;  height:10px; border:0;  cursor:pointer;}
.isHomePageOn {background:url(/ep/luxor/ref/image/admin/icon_home0.gif) no-repeat 0 0px;  height:10px; border:0;  }
.isHomePageOff {background:url(/ep/luxor/ref/image/admin/icon_home2.gif) no-repeat 0 0px;  height:10px; border:0; cursor:pointer;}

.font-blue { float:left; width:100%; color:#666666; font:11px Dotum; margin-bottom: 5px;}

.submenu-list a:hover {font:bold 12px Dotum,Verdana;color:#ffffff; text-decoration: none;}
.loginsub a {color:#696969; text-decoration:none; background:url(/ep/luxor/ref/image/blue_theme/topMenuPortlet/main_icon02.gif) no-repeat 0px 5px; padding-left:12px; font:12px Dotum,Verdana; line-height:18px; }
.loginsub a:hover {color:#5d7394; text-decoration:none;}

/** 계정신청 **/
.member_request_title {margin-top: 17px;margin-left: 10px;padding: 5px 0px 0px 24px;height: 25px;background: url(/ep/luxor/ref/image/admin/main_title01.gif) no-repeat 0px 1px;}
.member_request_title h3 {float: left;font: bold 14px Dotum,Verdana;color: black;}
.member_request_popup_wrap {margin: 10px;min-width: 500px;}
.member_request_popup_wrap .title_sub_small {padding: 0px;height: 25px;}

.member_request_popup_wrap .title_sub_small h3 {float: left;font: bold 12px Dotum,Verdana;color: #393939;background: url(../image/common/title_icon_small.gif) no-repeat 2px center;line-height: 25px;padding-left: 15px;}
.member_request_popup_wrap .table_border {border: 1px solid #D8D8D8;width: 100%;overflow-y: auto;}
.member_request_popup_wrap .page_text {float: left;width: 100%;margin-top: 10px;}
.member_request_popup_wrap .table_border h3 {padding: 5px 5px 5px 5px;font: 12px Dotum,Verdana;line-height: 20px;}
.member_request_popup_wrap .page_text p {background: url(../image/icon_text.gif) no-repeat left center;font: 11px Dotum,Verdana;color: #666;line-height: 18px;text-align: left;padding-left: 16px;}
.member_request_popup_wrap .margin15_t {margin-top: 15px;}
.member_request_popup_wrap .align_center {text-align: center;}


